#projetos {
    padding: 0.1rem 2rem;
    background: linear-gradient(to bottom,#151515, #000000);
    box-shadow: 0 0 20px rgba(200, 200, 200, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .projetos-section-title {
    font-size: 2.1rem;
    margin: 1rem 0 1rem;
    width: 100%;
    max-width: 1200px;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
  }
  
  .projetos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    width: 100%;
  }
  
  .projeto-card {
    background: linear-gradient(to bottom,#151515, #000000);
    border: 1px solid #333;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  }
  
  .projeto-img {
    width: 100%;
    height: auto;
    max-height: 180px;
    object-fit: cover;
    border-radius: 5px;
    display: block;
  }
  
  .projeto-text {
    font-size: 0.95rem;
    margin-bottom: 1rem;
    color: #ccc;
  }
  
  .projeto-stack {
    font-size: 0.85rem;
    color: #888;
    margin-bottom: 1rem;
  }
  
.projeto-btn {
    background: linear-gradient(90deg,
    #072A73 54%,
    #00287D 88%
  );
  color: #fff;
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 0.85rem;
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 0 8px rgba(27, 99, 255, 0.4);
  }
  
  .projeto-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 12px rgba(27, 99, 255, 0.6);
  }
  