.body 
{
    padding: 1.5rem 2rem;
    background: linear-gradient(to bottom,#151515, #000000);
    box-shadow: 0 0 20px rgba(200, 200, 200, 0.3);
    display: flex;
    flex-direction: column;  
}

.caixa
{
   background-color: #303030;
   border: none;
}