.body 
{
    padding: 1.5rem 2rem;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
    box-shadow: 0 0 20px rgba(200, 200, 200, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -5px;
}

.about-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
  max-width: 1000px;
}

.about-photo {
  width: 150px;
  height: 150px;
  background-color: black; /* Substitua por uma imagem se quiser */
  border: 1px solid #333;
  flex-shrink: 0;
}

.about-text {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}