.corpo
{
    min-height: 80vh;
    background: linear-gradient(to bottom,#151515, #000000);
    box-shadow: 0 0 20px rgba(200, 200, 200, 0.3);
}

.banner
{
    height: 350px;
    width: 100%;
    border-bottom:  3px groove rgba(223, 223, 223, 0.25);
}