.corpo
{
    min-height: 80vh;
    background: linear-gradient(to bottom, #1C1C1C 0%, #070707 100%);
    box-shadow: 0 0 20px rgba(200, 200, 200, 0.09);
}

.banner
{
    height: 350px;
    width: 100%;
    border-bottom:  3px groove rgba(223, 223, 223, 0.25);
}